<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 关联其他配置文件applicationContext.xml -->
    <import resource="classpath:spring-mybatis.xml"/>
    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com"/>
    <!-- 注解驱动的支持,如json数据的解析 -->
    <mvc:annotation-driven/>
    <!-- 对静态资源的处理 -->
    <!-- web.xml中配置了*.do的才交给springMVC处理 -->
    <!-- <mvc:default-servlet-handler /> -->


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置freeMarker的模板路径 -->
    <!--  <bean
              class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
          &lt;!&ndash; 配置freemarker的文件编码 &ndash;&gt;
          <property name="defaultEncoding" value="UTF-8" />
          &lt;!&ndash; 配置freemarker寻找模板的路径 &ndash;&gt;
          <property name="templateLoaderPath" value="/WEB-INF/views/" />
      </bean>

      &lt;!&ndash;freemarker视图解析器 &ndash;&gt;
      <bean id="viewResolver"
            class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
          &lt;!&ndash; 是否在model自动把session中的attribute导入进去; &ndash;&gt;
          <property name="exposeSessionAttributes" value="true" />
          &lt;!&ndash; 配置逻辑视图自动添加的后缀名 &ndash;&gt;
          <property name="suffix" value=".ftl" />
          &lt;!&ndash; 配置视图的输出HTML的contentType &ndash;&gt;
          <property name="contentType" value="text/html;charset=UTF-8" />
      </bean>-->

    <!--处理上传 -->
    <bean
            class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
            id="multipartResolver">
        <property name="maxUploadSize" value="100000000"/>
    </bean>


</beans>